		<table id="tabla-productos" class="table table-striped"> 
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Mostrar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in productos | orderBy:'precio'">
					<td>{{ p.id }}</td>
					<td>{{ p.nombre }}</td>
					<td>{{ p.precio }}</td>
					<td><a href="#" ng-click="productoCtrl.mostrar(p.id)">mostrar</a></td>
					<td><a href="#" ng-click="productoCtrl.eliminar(p.id)">eliminar</a></td>
				</tr>
			</tbody>
		</table>