<form name="formProducto" ng-submit="formProducto.$valid && productoCtrl.guardar()" novalidate>
	<input type="hidden" id="productoId" ng-model="model.id">
	<table id="tabla-form" class="tabla-centrada">
		<tr>
			<td>Nombre</td>
			<td><input type="text" id="nombre" ng-model="model.nombre" ng-pattern="/^.{2,}$/i" required></td>
		</tr>
		<tr>
			<td>Precio</td>
			<td><input type="number" id="precio" ng-model="model.precio" min="1" required></td>
		</tr>
		<tr>
			<td colspan="2">
				<button class="btn btn-submit">Guardar</button>
			</td>
		</tr>
	</table>
</form>
<table id="tabla-productos" class="table table-striped"> 
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Mostrar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in productos | orderBy:'precio'">
			<td>{{ p.id }}</td>
			<td>{{ p.nombre }}</td>
			<td>{{ p.precio }}</td>
			<td><a href="#" ng-click="productoCtrl.mostrar(p.id)">mostrar</a></td>
			<td><a href="#" ng-click="productoCtrl.eliminar(p.id)">eliminar</a></td>
		</tr>
	</tbody>
</table>